<!DOCTYPE html>
<html ng-app="gameApp">
<head>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js"></script>
  <script src="script.js"></script>
  <link rel="stylesheet" href="style.css" />
  <link href='http://fonts.googleapis.com/css?family=Chewy' rel='stylesheet' type='text/css'>
</head>
  <body x-ng-controller="ticController">
    <div class="wrapper">
      <h2> Tic Tac Toe </h2>
      <div class="cells"
          x-ng-repeat="b in board track by $index" 
            x-ng-click="clicker($index)">
              {{ b }}
      </div>
      <button class="button" x-ng-click="reset()">Let's a play again</button>
    </div>
    <div class="result" ng-bind="resultOne"></div>
    
    
  </body>
  </html>    